body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(60deg, #002f41, #005F73, #0A9396, #94D2BD, #e2cd8b, #EE9B00, #CA6702, #BB3E03, #AE2012,
    #9B2226);
}



