body {
    font-family: "Roboto Mono", serif;
    font-weight: 500;
    overflow-x: hidden;
    
}

html,body, .intro {
    margin:0;
    padding: 0;
}
    
.intro {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, #ffbe0b, #fb5607, #ff006e, #8338ec, #3a86ff);
    background-size: 200% 200%;
    animation: fondo-movimiento 7s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro_container {
    display: flex;
    background-color: #121821;
    width: 90%;
    height: 90%;
    border-radius: 20px;
}

.intro_texto{
    width: 60%;
    padding-left: 5%;
    text-align: left;
    align-self: center;
    color: #dbdee3;
    font-size: 38px;
}

.texto_transparente {
    color: transparent;
    background: linear-gradient(90deg, #ffbe0b, #fb5607, #ff006e, #8338ec, #3a86ff); 
    background-clip: text;
    background-size: 200% 200%;
    animation: fondo-movimiento 7s infinite;
}

.intro_imagen {
    width: 40%;
    height: 100%;
    align-self: center;
    border-radius: 0 20px 20px 0;
    background-color: #121821;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(18, 24, 33, 0.8);
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(10px);
}

.navbar_menu {    
    list-style: none;
    color: white;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0; 
}

@keyframes fondo-movimiento {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
    
}

