html, body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto Mono", serif;
    font-weight: 500;
    
    background: linear-gradient(90deg, #ffbe0b, #fb5607, #ff006e, #8338ec, #3a86ff);
    background-size: 200% 200%;
    animation: fondo-movimiento 7s infinite;
}


.navbar {
    background-color: hsla(216, 29%, 10%, 0.798);
    backdrop-filter: blur(20px);
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 89%;
    left: 7%;
    border-radius: 0 0 15px 15px;
    padding: 10px 20px;
}

.navbar_items{
    list-style: none;
    color: #c3c3c3;
}

.navbar_item {
    display: inline-block;
    padding: 0px 10px;
}


.navbar_item a {
    text-decoration: none;
    color: inherit;
    
}

.navbar_item:hover {
    cursor: pointer;
    background-color: #0a0e1381;
    border-radius: 5px;
    color: #f0f0f0;
}

.intro {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.intro_container {
    display: flex;
    background-color: #121821;
    width: 90%;
    height: 90%;
    border-radius: 20px;
}

.intro_texto{
    width: 60%;
    padding-left: 5%;
    text-align: left;
    align-self: center;
    color: #dbdee3;
    font-size: 38px;
}

.texto_transparente {
    color: transparent;
    background: linear-gradient(90deg, #ffbe0b, #fb5607, #ff006e, #8338ec, #3a86ff); 
    background-clip: text;
    background-size: 200% 200%;
    animation: fondo-movimiento 7s infinite;
}

.intro_imagen {
    width: 40%;
    height: 100%;
    align-self: center;
    border-radius: 0 20px 20px 0;
    background-color: #121821;
}

.about_foto, .about_texto, .about_button, .about_container, .about, .experiencia_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about, .experiencia{
    background-color: #121821;
    width: 100%;
    height: 100vh;
    padding: 20px;
}

.experiencia {
    height: auto;
}

.about {
    border-radius: 40px 40px 0 0;
}

.about_container {
    flex-direction: row;
    background-color: #121821;
    width: 90%;
    min-height: 90%;
    height: auto;
    box-shadow: 0 4px 8px rgba(207, 207, 207, 0.1);
    border: 3px solid transparent;
    border-image: linear-gradient(90deg, #ffbe0b, #fb5607, #ff006e, #8338ec, #3a86ff) 1;
    
}


.about_foto {
    width: 40%;
    height: 100%;
}

.about_img {
    width: 60%;
    border-radius: 40px;
}

.about_texto {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 80%;
    padding: 5%;
    line-height: normal;
    color: #dbdee3;
}

.about_texto h2 {
    font-size: 2rem;
    padding: 0 2%;
}

.about_button {
    width: auto;
    height: auto;
    padding: 0 1rem;
    border-radius: 20px;
    background-color: #202b3c;
    text-decoration: none;
    color: #c3c3c3;
}

.about_button:hover {
    cursor: pointer;
    background-color: #0a0e13;
    color: #f0f0f0;
}

.experiencia h2 {
    font-size: 3rem;
    padding: 0 5%;
}

.experiencia h4 {
    font-size: 1.5rem;
    padding: 0 5%;
    color: #c3c3c3;
}

.experiencia_container {
    width: 70%;
    margin: 2rem auto; 
    padding: 20px;
    gap: 20px;
    border-radius: 20px; 
    background-color: #131b27;
    border: 2px solid #183258;
    color: #bbbcbe;
}

.proyecto {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.proyecto_texto, .proyecto_imagen {
    flex: 1;
    margin: 10px;
}

.proyecto_imagen img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.proyecto_imagen:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.proyecto_titulo {
    font-size: 2rem;
    color: #f0f0f0;
}





@keyframes fondo-movimiento {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
    
}

